<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    Bohužel jsme nezaznamenali platbu Vámi rezervovaných lístků na maturitní ples Gymnázia Holice. Rezervace byla proto zrušena a místa poskytnuta ostatním uživatelům.<br>
    S případnými dotazy nás neváhejte kontaktovat na mail listky@210122.cz.<br>
    S přáním příjemného dne<br>
    Maturanti Gymnázia Holice<br><br>
    
</body>
</html>